@{
    ViewBag.Title = "Product/Service Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool add = true;
    bool edit = true;
    bool delete = true;
    if (Request.IsAuthenticated)
    {
        add = (bool)ViewData["Add"];
        edit = (bool)ViewData["Edit"];
        delete = (bool)ViewData["Delete"];
    }
}

<h2 class="text-center">Product/Service Type</h2>
<div ng-controller="ProductServiceType">
    <div class="margin-top-10 col-xs-5">
        <div class="box box-info">
            <div class="box-header">
                <i class="fa fa-info"></i>

                <h3 class="box-title">Product/Service Type Entry</h3>
            </div>
            <div class="box-body">

                <form name="ProductServiceTypes">

                    <div class="form-group">
                        <label for="txtName">Description</label><label style="color:red">*</label>
                        <textarea cols="20" rows="2" ng-model="ProductServiceType.Description" class="form-control" id="txtDescription" placeholder="" required></textarea>

                    </div>

                    <div class="checkbox">
                        <label>
                            Status<input type="checkbox" name="active" ng-model="ProductServiceType.Status">
                        </label>
                    </div>
                    <div class="text-center">
                        @if (add || edit)
                        {
                            <button type="submit" class="btn btn-success" ng-disabled="ProductServiceTypes.$invalid" ng-click="Save()">Save</button>
                        }
                        @if (delete)
                        {
                            <button type="submit" class="btn btn-danger" ng-disabled="ButtonDisabled" ng-click="Delete()">Delete</button>
                        }
                        <button type="reset" class="btn btn-default" ng-click="Reset()">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="margin-top-10 col-xs-7">
        <div class="box box-info">
            <div class="box-header">
                <i class="fa fa-table"></i>

                <h3 class="box-title">Product/Service Type Table</h3>
            </div>
            <div class="box-body">

                <div>
                    <table ng-table="tableParams" class="table">

                        <tbody ng-repeat="data in $data">

                            <tr id="tr{{data.Id}}" ng-class-odd="'odd'" ng-class-even="'even'">
                                <td class="rowTd" data-title="'Description'" sortable="'Name'">{{data.Description}}</td>
                                <td class="rowTd" data-title="'Status'" data-sortable="'Status'"><span ng-class="{'badge bg-green': data.Status,'badge bg-red': !data.Status}" class="">{{data.Status}}</span></td>
                                @if (edit || delete)
                                {
                                    <td class="rowTd" data-title="'Action'">
                                        <button class="btn btn-success btn-xs" id="editRowBtn{{data.Id}}" ng-click="setFortEdit(data)"><i class="fa fa-edit"></i> Edit</button>

                                    </td>
                                }
                            </tr>
                            <tr ng-show="editId===data.Id" ng-if="editId===data.Id"></tr>
                        </tbody>


                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{

    <script type="text/javascript" src="@Url.Content("/Scripts/Accounts/ProductOrServiceType.js")"></script>

}