@{
    ViewBag.Title = "Self Sales & Collection Target";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/Accounts/Report_TrialBalanceDetailsController.js"></script>

<section class="content-header text-center">
    <h2 class="section-title">Self Sales &amp; Collection Target</h2>
</section>

<div class="row content" ng-controller="TrialBalanceDetailsController">

    <style type="text/css">
        table {
            table-layout: fixed;
        }

        .div-table-content {
            height: 400px;
            overflow-y: auto;
        }
    </style>
</div>
