@{
    ViewBag.Title = "Password Change";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center section-title">Password Change</h2>
<div ng-controller="passwordChange">
    <div class="margin-top-10 col-md-4 col-sm-12 col-md-offset-4">
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            <div class="box-body">

                <form name="Users">

                    <div class="form-group">
                        <label for="txtName">Name<span style="color:red">*</span></label>
                        <input type="text" ng-model="User.LoginName" class="form-control" id="txtName" placeholder="" readonly required>
                    </div>

                    <div class="form-group">
                        <label for="txtAddress">Old Password<span style="color:red">*</span></label>
                        <input type="password" ng-model="User.OldPassword" class="form-control" id="txtAddress" placeholder="" required>
                    </div>
                    <div class="form-group">
                        <label for="txtPassword">New Password<span style="color:red">*</span></label>
                        <span style="color:red" data-ng-show="Users.txtPassword.$dirty && Users.txtPassword.$error.required">Required</span>
                        <span style="color:red" data-ng-show="Users.txtPassword.$dirty && Users.txtPassword.$error.minlength">Minimum 5 characters required</span>
                        <span style="color:red" data-ng-show="Users.txtPassword.$dirty && Users.txtPassword.$error.maxlength">Maximum 16 characters is allowed</span>
                        
                        <input type="password" ng-model="User.Password" class="form-control" id="txtPassword" name="txtPassword" ng-minlength="5" ng-maxlength="16" placeholder="" required>
                    </div>
                    <div class="form-group">
                        <label for="txtConfirmPassword">Confirm Password<span style="color:red">*</span></label>
                        <input type="password" ng-model="User.ConfirmPassword" class="form-control" id="txtConfirmPassword" placeholder="" required>
                    </div>

                    <div class="box-footer text-center">
                        <button type="submit" class="btn btn-success" ng-disabled="Users.$invalid" ng-click="Save()">Save</button>
                        @*<button type="submit" class="btn btn-danger" ng-disabled="ButtonDisabled" ng-click="Delete()">Delete</button>*@
                        <button type="submit" class="btn btn-default" ng-click="Reset()">Reset</button>
                    </div>

                </form>
            </div>
        </div>
    </div>


</div>

@section scripts{
    <script type="text/javascript" src="@Url.Content("/Scripts/Security/ChangePassword.js")"></script>

}