@{
    ViewBag.Title = "Defect Replacement";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool add = true;
    bool edit = true;
    bool delete = true;
    if (Request.IsAuthenticated)
    {
        add = (bool)ViewData["Add"];
        edit = (bool)ViewData["Edit"];
        delete = (bool)ViewData["Delete"];
    }
}

<h2 class="text-center section-title">Defect Replacement</h2>
<div ng-controller="DefectReplacementController">
    <form role="form" name="DefectReplacementForm">

        <section class="margin-top-10 col-sm-4 col-sm-offset-4 col-xs-12">
            <div class="box box-primary ">
                <div class="box-body no-padding margin">
                    <div class="form-group">
                        <label>Defect Ref No<span style="color:red">*</span></label>
                        <select id="cmbDefect" name="nmDefect" data-placeholder="Pick an Employee" ng-model="SelDefectId" class="selectUI"
                                ng-change="loadDetails()" data-ui-select2>
                            <option value=""></option>
                            <option ng-repeat="data in Defects" value={{data.Id}}>{{data.RefNo}}</option>
                        </select>
                    </div>
                    <br />
                </div>
            </div>
        </section>
        <section class="margin-top-10 col-sm-12 col-xs-12">
            <div class="box box-primary margin">
                <div class="box-header" style="cursor: move;">
                    <i class="fa fa-table"></i>
                    <h3 class="box-title">
                        Defect Replacement Details
                    </h3>
                    <input type="text" style="margin: 8px;" class="pull-right" ng-model="SearchList" placeholder="Search" />
                </div>

                <div class="box-body no-padding">
                    <div class="panel panel-default">
                        <table class="table  table-striped">
                            <thead>
                                <tr>
                                    <th style="width:6%">SL</th>
                                    <th style="width:25%">Product</th>
                                    <th style="width:14%">Defect Quantity</th>
                                    <th style="width: 15%">Unit</th>
                                    <th style="width: 20%">Replace Quantity</th>
                                    <th style="width: 20%">Adjustment Amount</th>
                                </tr>
                            </thead>
                        </table>
                        <div class="div-table-content">
                            <table class="table  table-striped">
                                <tbody>
                                    <tr ng-repeat="resource in DefectDetails | filter:SearchList">
                                        <td style="width:6%">{{$index+1}}</td>
                                        <td style="width:25%">{{resource.SlsProductName}}</td>
                                        <td style="width:14%">{{resource.Quantity}}</td>
                                        <td style="width:15%">{{resource.SlsUnitName}}</td>
                                        <td style="width:20%">
                                            <div>
                                                <input class="form-control" type="text" ng-model="resource.ReplacedQuantity"
                                                       maxlength="18" ng-pattern="/^\d+$/" />
                                            </div>
                                        </td>
                                        <td style="width:20%">
                                            <div>
                                                <input class="form-control" type="text" ng-model="resource.AdjustedAmount"
                                                       maxlength="18" ng-pattern="/^\d+$/" />
                                            </div>
                                        </td>
                                        @*<td >{{resource.ReplacedQuantity}}</td>
                                        <td style="width:20%">{{resource.AdjustedAmount}}</td>*@
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success" ng-disabled="Businesses.$invalid" ng-click="Save()">Save</button>
                        <button type="reset" class="btn btn-default" ng-click="Reset()">Reset</button>
                    </div>
                    <div ng-class="{overlay:ShowLoading}"></div>
                    <div class="{loading-img:ShowLoading}"></div>
                </div>
            </div>
        </section>

    </form>
    <style type="text/css">
        table {
            table-layout: fixed;
        }

        .div-table-content {
            height: 280px;
            overflow-y: auto;
        }
    </style>

</div>

<script src="~/Scripts/Sales/DefectReplacementController.js"></script>