@{
    ViewBag.Title = "DepreciationRate";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool add = true;
    bool edit = true;
    bool delete = true;
    if (Request.IsAuthenticated)
    {
        add = (bool)ViewData["Add"];
        edit = (bool)ViewData["Edit"];
        delete = (bool)ViewData["Delete"];
    }
}

<h2>Depreciation Rate</h2>
