@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Home.cshtml";
    //bool add = true;
    //bool edit = true;
    //bool delete = true;
    //if (Request.IsAuthenticated)
    //{
    //    add = (bool)ViewData["Add"];
    //    edit = (bool)ViewData["Edit"];
    //    delete = (bool)ViewData["Delete"];
    //}
}

<style>
    .bg-op1,
    .bg-op2,
    .bg-op3,
    .bg-op4,
    .bg-op5,
    .bg-op6,
    .bg-op7,
    .bg-op8,
    .bg-op9,
    .bg-op10 {
        color: #f9f9f9 !important;
    }

    .bg-op1 {
        background-color: #8F3D4B !important;
    }

    .bg-op2 {
        background-color: #854766 !important;
    }

    .bg-op3 {
        background-color: #8F3D8F !important;
    }

    .bg-op4 {
        background-color: #A14DB2 !important;
    }

    .bg-op5 {
        background-color: #914DB2 !important;
    }

    .bg-op6 {
        background-color: #7F59A6 !important;
    }

    .bg-op7 {
        background-color: #5959A6 !important;
    }

    .bg-op8 {
        background-color: #269DD9 !important;
    }

    .bg-op9 {
        background-color: #14B89C !important;
    }

    .bg-op10 {
        background-color: #14B866 !important;
    }
</style>

<h2 class="text-center section-title">Management Dashboard</h2>
<div class="row content" ng-controller="MngtDashboard">
    <!--
     <div class="col-sm-4 col-xs-12">
        
        <div class="small-box bg-green">
            <div class="inner">
                <h3>
                   
                    MEP ESL
                </h3>
                <h3>
                    Date: 19/02/2015 
                </h3>
                <p>
                    <span> Sales: 500000  </span><br />
                    <span> Collection: 450000   </span><br />
                    <span>   Credit: 50000  </span><br />
                    <span>   Total Credit/Due(Till Date): 5500000  </span><br />
                  
                </p>
            </div>
        </div>

    </div>
    <div class="col-sm-4 col-xs-12">
        

        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>
                    
                    MEP LTD
                </h3>
                <h3>
                    Date: 19/02/2015 
                </h3>
                <p>
                    <span> Sales: 300000  </span><br />
                    <span> Collection: 200000   </span><br />
                    <span>   Credit: 100000  </span><br />
                    <span>   Total Credit/Due(Till Date): 5000000 </span><br />
                   
                </p>
            </div>
        </div>

    </div>
    <div class="col-sm-4 col-xs-12">
        
        <div class="small-box bg-olive">
            <div class="inner">
                <h3>                   
                    MEP Cables
                </h3>
                <h3>
                    Date: 19/02/2015 
                </h3>
                <p>
                    <span> Sales: 650000 </span><br />
                    <span> Collection: 500000   </span><br />
                    <span>   Credit: 150000  </span><br />
                    <span>  Total Credit/Due(Till Date): 8500000  </span><br />
                    
                </p>
            </div>
        </div>
    </div>
-->

    <div class="col-sm-4 col-xs-12" ng-repeat="companyDashboard in companyDashboards">        
        <div class="{{companyDashboard.ClassWithBgColor}}">
            <div class="inner">
                <h3>
                    {{companyDashboard.CompanyName}}
                </h3>
                <h3>
                    {{companyDashboard.TodaysDate}}
                </h3>
                <p>
                    <span> Sales: {{companyDashboard.Sales}} </span><br />
                    <span> Collection: {{companyDashboard.Collections}}  </span><br />
                    <span>   Credit: {{companyDashboard.Credit}} </span><br />
                    <span>  Total Credit/Due(Till Date): {{companyDashboard.CreditTillDate}} </span><br />
                </p>
            </div>
        </div>
    </div>

</div>
@section scripts{
    <script type="text/javascript" src="@Url.Content("/Scripts/Sales/MngtDashboard.js")"></script>
}