@{
    ViewBag.Title = "ProductPrice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Sales/Report_ProductPriceController.js"></script>

<section class="content-header">
    <h2 class="text-center  section-title">Price List</h2><hr />
</section>

<div class="row content" ng-controller="ProductPriceReportController">

    <section class="col-sm-4 col-sm-offset-4">

        <div class="box box-primary">

            @using (Html.BeginForm("GetProductPriceReport", "SalesReport", FormMethod.Get, new { area = "Sales", target = "_blank" }))
            {
                <div class="box-body">

                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-4 col-xs-12">Product:</label>
                            <select class="col-sm-8  col-xs-12" ui-select2 ng-model="ProductId" name="ProductId" data-placeholder="Pick a Product" ng-change="ProjectInfo()">
                                <option value=""></option>
                                <option ng-repeat="data in Product" value={{data.Id}}>{{data.Code}}&nbsp;({{data.Name}})</option>
                            </select>
                        </div>
                    </div>

                    <br />

                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">Show</button>
                        <button type="reset" ng-click="Reset()" class="btn btn-default">Reset</button>
                    </div>
                </div>

            }
        </div>
    </section>

    <style type="text/css">
        table {
            table-layout: fixed;
        }

        .div-table-content {
            height: 400px;
            overflow-y: auto;
        }
    </style>

</div>
