@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">

    <h2>Voucher Report</h2>
</section>
<div class="row content">

    <section class="col-lg-4">

        <div class="box box-primary">
            <div class="box-header" style="cursor: move;">

                <i class="fa fa-times"></i>
                <h3 class="box-title"></h3>
            </div>
            <div class="box-body no-padding">
            </div><!-- /.box-body-->
           
        </div>
    </section>
    <section class="col-lg-8">

        <div class="box box-primary">
            <div class="box-header" style="cursor: move;">

                <i class="fa fa-times"></i>
                <h3 class="box-title"></h3>
            </div>
            <div class="box-body no-padding">
            </div><!-- /.box-body-->
            @*<div ng-class="{overlay:ShowLoading}"></div>
                <div class="{loading-img:ShowLoading}"></div>*@
        </div>
    </section>
</div>