@{
    ViewBag.Title = "Cost Center Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

   
<section class="content-header">

    <h2 class="text-center section-title">Cost Center Report</h2>
</section>

<div class="row content" ng-controller="CostCenterReport">

    <section class="col-sm-4  col-sm-offset-4">

        <div class="box box-primary" style="min-height:50px">
            <div class="box-header" style="cursor: move;">

                @*<i class="fa fa-search"></i>
                <h3 class="box-title"> Search</h3>*@
            </div>
            @using (Html.BeginForm("GetAnFCostCenterReport", "Report", FormMethod.Get, new { area = "Accounts", name = "Search", id = "Search", target = "_blank" }))
            {
               
            <br />
                <br />
                <div class="form-group">
                    <label class="col-sm-4"></label><button type="submit" id="btnCostCenter" class="btn btn-primary">Show Report</button><br />
                </div>
                <br />

            }
        </div>

    </section>

</div>
