@{
    ViewBag.Title = "StatementOfCashFlow";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    
}




<section class="content-header">

    <h2 class="text-center  section-title">Statement Of Cash Flow</h2><hr />
</section>

