@{
    ViewBag.Title = "Sales Order List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool add = true;
    bool edit = true;
    bool delete = true;
    if (Request.IsAuthenticated)
    {
        add = (bool)ViewData["Add"];
        edit = (bool)ViewData["Edit"];
        delete = (bool)ViewData["Delete"];
    }
}


<h2 class="text-center section-title">Sales Order List</h2>
<div ng-controller="OrderListController">
    <form role="form" name="OrderListForm">
        <section class="margin-top-10 col-sm-4 col-sm-offset-4 col-xs-12">
            <div class="box box-primary ">
                <div class="box-body no-padding margin">

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>
                                From
                            </label>
                            <input type="text" class="form-control datetimepicker" ng-model="SearchObj.DateFrom" name="FromDate" datetimepicker required>
                        </div>

                        <div class="form-group col-sm-6">
                            <label>
                                To
                            </label>
                            <input type="text" class="form-control" ng-model="SearchObj.DateTo" name="ToDate" datetimepicker required>
                        </div>
                    </div>
                    <br />
                    <div class="text-center">
                        <button type="submit" id="SearchButton" class="btn btn-primary" ng-click="Find()">Search</button>
                        <button type="reset" class="btn btn-default" ng-click="Reset()">Reset</button>
                    </div>




                </div>
            </div>
        </section>

        <section class="margin-top-10 col-sm-12 col-xs-12">
            <div class="box box-primary">
                <div class="box-header" style="cursor: move;">
                    <i class="fa fa-table"></i>
                    <h3 class="box-title">
                        Sales Order List
                    </h3>
                    <input type="text" style="margin: 8px;" class="pull-right" ng-model="SearchList" placeholder="Search" />
                </div>
                <div class="box-body no-padding">
                    <div class="panel panel-default">
                        <table class="table  table-striped">
                            <thead>
                                <tr>
                                    <th style="width:20%">Ref. No</th>
                                    <th style="width:40%">Party</th>
                                    <th style="width:15%">Delivery Date</th>
                                    <th style="width: 10%">Discount</th>
                                    <th style="width: 15%">Total</th>
                                </tr>
                            </thead>
                        </table>
                        <div class="div-table-content">
                            <table class="table  table-striped">
                                <tbody>
                                    <tr ng-repeat="resource in Resources | filter:SearchList" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index)">
                                        <td style="width:20%">{{resource.RefNo}}</td>
                                        <td style="width:40%">{{resource.PartyName}}</td>
                                        <td style="width:15%">{{resource.PreferredDeliveryDate | jsonDate}}</td>
                                        <td style="width:10%">{{resource.Discount}}</td>
                                        <td style="width:15%">{{resource.Total}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <style>
                            .selected {
                                background-color: #FAA61A;
                                color: white;
                                font-weight: bold;
                            }
                        </style>
                    </div>
                    <div>
                    </div>
                    <div ng-class="{overlay:ShowLoading}"></div>
                    <div class="{loading-img:ShowLoading}"></div>
                </div>
            </div>
        </section>

        <style type="text/css">
            table {
                table-layout: fixed;
            }

            .div-table-content {
                height: 330px;
                overflow-y: auto;
            }
        </style>
    </form>
</div>
<script src="~/Scripts/Sales/OrderListController.js"></script>
