@{
    ViewBag.Title = "Requisition";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool add = true;
    bool edit = true;
    bool delete = true;
    if (Request.IsAuthenticated)
    {
        add = (bool)ViewData["Add"];
        edit = (bool)ViewData["Edit"];
        delete = (bool)ViewData["Delete"];
    }
}

<h2 class="text-center section-title">Requisition</h2>
<div ng-controller="ProductRequisitionController">
    <section class="margin-top-10 col-sm-5 col-xs-12">
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">Requisition Entry</h3>
            </div>
            <div class="box-body">
                <form name="Requisition">
                    <div class="form-group">
                        <label for="txtCode">Code<span style="color:red">*</span></label>
                        <input type="text" ng-model="Code" class="form-control" id="txtCode" required readonly>
                    </div>
                    <div class="form-group">
                        <label for="dtpDeliveryDate">Preferred Delivery Date</label><label style="color:red">*</label>
                        <input type="text" ng-model="Reqs.PreferredDeliveryDate" class="form-control datetimepicker" id="dtpDeliveryDate" datetimepicker required>
                    </div>
                    <div class="form-group">
                        <label for="txtRemarks">Remarks</label>
                        <textarea cols="20" rows="2" ng-model="Reqs.Remarks" class="form-control" id="txtRemarks"></textarea>
                    </div>
                    <div>
                        <fieldset class="fieldset1">
                            <legend class="legend1">Product Information</legend>
                            <div class="form-group">
                                <label for="selProduct">Product<span style="color:red">*</span></label>
                                <select id="selProduct" placeholder="Pick a product" ng-model="Product" class="selectUI" ng-change="GetUnitsByProductId()" ui-select2>
                                    <option value=""></option>
                                    <option ng-repeat="data in Products" value={{data}}>{{data.Code}}&nbsp;({{data.Name}})</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="txtReqQty">Required Quantity<span style="color:red">*</span></label>
                                <input type="number" ng-model="qty" class="form-control right-align" id="txtReqQty" required>
                            </div>
                            <div class="form-group">
                                <label for="selUnit">Unit<span style="color:red">*</span></label>
                                <select id="selUnit" placeholder="Pick a unit" ng-model="Unit" class="selectUI" ui-select2>
                                    <option value=""></option>
                                    <option ng-repeat="data in Units" value={{data}}>{{data.Unit}}</option>
                                </select>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-success" ng-disabled="detailInvalid()" ng-click="AddRow()">Add</button>
                                <button type="button" class="btn btn-danger" ng-click="Clear()">Clear</button>                             
                            </div>
                        </fieldset>
                    </div>


                </form>
            </div>
        </div>
    </section>

    <style type="text/css">
        table {
            table-layout: fixed;
        }

        .div-table-content {
            height: 410px;
            overflow-y: auto;
        }
    </style>
    <section class="margin-top-10 col-sm-7 col-xs-12">
        <div class="box box-primary">
            <div class="box-header" style="cursor: move;">
                <i class="fa fa-table"></i>
                <h3 class="box-title">
                    Requisition List
                </h3>
                <input type="text" style="margin: 8px;" class="pull-right" ng-model="SearchList" placeholder="Search" />
            </div>
            <div class="box-body no-padding">
                <div class="panel panel-default margin">
                    <table class="table  table-striped">
                        <thead>
                            <tr>
                                <th style="width:10%">SL</th>
                                <th style="width:30%">Code</th>
                                <th style="width:20%">Preferred Delivery Date</th>
                                <th style="width: 30%">Remarks</th>
                                <th style="width:8%; text-wrap: normal">Action</th>
                                <th style="width:2%"></th>
                            </tr>
                        </thead>
                    </table>
                    <div class="div-table-content">
                        <table class="table  table-striped">
                            <tbody>
                                <tr ng-repeat="req in Requisitions | filter:SearchList" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index)">
                                    <td style="width:10%">{{$index+1}}</td>
                                    <td style="width:30%">{{req.RequisitionCode}}</td>
                                    <td style="width:20%">{{req.PreferredDeliveryDate}}</td>
                                    <td style="width:30%">{{req.Remarks}}</td>
                                    <td style="width:8%">
                                        <button class="btn btn-success btn-xs" id="editRowBtn{{req.Id}}" ng-click="setForEdit(req)"><i class="fa fa-edit"></i>Edit</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <style>
                        .selected {
                            background-color: #FAA61A;
                            color: white;
                            font-weight: bold;
                        }
                    </style>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-success" ng-disabled="Requisition.$invalid" ng-click="Save()">Save</button>
                    <button type="reset" class="btn btn-default" ng-click="Reset()">Reset</button>
                </div>
                <div ng-class="{overlay:ShowLoading}"></div>
                <div class="{loading-img:ShowLoading}"></div>
            </div>
        </div>
    </section>
    <section class="margin-top-10 col-sm-7 col-xs-12">
        <div class="box box-primary">
            <div class="box-header" style="cursor: move;">
                <i class="fa fa-table"></i>
                <h3 class="box-title">
                    Requisition Detail
                </h3>
                <input type="text" style="margin: 8px;" class="pull-right" ng-model="SearchList" placeholder="Search" />
            </div>
            <div class="box-body no-padding">
                <div class="panel panel-default margin">
                    <table class="table  table-striped">
                        <thead>
                            <tr>
                                <th style="width:10%">SL</th>
                                <th style="width:35%">Product</th>
                                <th style="width:20%">Quantity</th>
                                <th style="width: 15%">Unit</th>
                                <th style="width: 20%; text-wrap: normal">Action</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="div-table-content">
                        <table class="table  table-striped">
                            <tbody>
                                <tr ng-repeat="row in rows | filter:SearchList" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index)">
                                    <td style="width:10%">{{$index+1}}</td>
                                    <td style="width:35%">{{row.ProductName}}</td>
                                    <td style="width:20%">{{row.RequiredQuantity}}</td>
                                    <td style="width:15%">{{row.UnitName}}</td>
                                    <td style="width:20%">
                                        <button class="btn btn-success btn-xs" id="editRowBtn{{row.Id}}" ng-click="setForEditDetal($index,row)"><i class="fa fa-edit"></i>Edit</button>
                                        <button class="btn btn-success btn-xs" ng-click="DeleteDetail($index,row.Id)"><i class="fa fa-edit"></i>Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <style>
                        .selected {
                            background-color: #FAA61A;
                            color: white;
                            font-weight: bold;
                        }
                    </style>
                </div>
               
            </div>


        </div>
    </section>
</div>

@section scripts{

    <script>

        (function () {
            var glbApprovalId = parseInt('@ViewData["RequisitionNumber"]');
            if (glbApprovalId !== undefined && glbApprovalId > 0) {
                app.value('glbApprovalObj', { appID: glbApprovalId });
            }
            else {
                app.value('glbApprovalObj', { appID: 0 });
            }

        }).call(this);
    </script>
    <script type="text/javascript" src="@Url.Content("/Scripts/Inventory/RequisitionController.js")"></script>
}