@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool add = true;
    bool edit = true;
    bool delete = true;
    if (Request.IsAuthenticated)
    {
        add = (bool)ViewData["Add"];
        edit = (bool)ViewData["Edit"];
        delete = (bool)ViewData["Delete"];
    }
}

<h2 class="text-center section-title">Employee</h2>
<div ng-controller="employeeController">
    <section class="margin-top-10 col-sm-4 col-xs-12">
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">Employee Entry</h3>
            </div>
            <div class="box-body">
                <form name="Employees">
                    <div class="form-group">
                        <label for="txtName">Name<span style="color:red">*</span></label>
                        <span style="color:red" data-ng-show="Employees.txtName.$dirty && Employees.txtName.$error.required">Required</span>
                        <span style="color:red" data-ng-show="Employees.txtName.$dirty && Employees.txtName.$error.pattern">Invalid</span>
                        <input tabindex="1" type="text" ng-model="Employee.Name" class="form-control" id="txtName" name="txtName" placeholder="Name" required ng-pattern="/^[a-zA-Z\s.]+$/">
                    </div>
                    <div class="form-group">
                       
                            <label for="txtPrefix">Designation<span style="color:red">*</span></label>
                            <select id="CmbMoule" tabindex="2" data-placeholder="Pick a Designation" ng-model="Employee.HrmDesignationId" class="selectUI" data-ui-select2>
                                <option value=""></option>
                                <option ng-repeat="data in DesignationIdNName" value={{data.Id}}>{{data.Name}}</option>
                            </select>
                        
                    </div>
                    <div class="form-group">
                      
                            <label for="txtPrefix">Department<span style="color:red">*</span></label>
                            <select id="CmbMoule" tabindex="3" data-placeholder="Pick a Department" ng-model="Employee.HrmDepartmentId" class="selectUI" data-ui-select2>
                                <option value=""></option>
                                <option ng-repeat="data in DepartmentIdNName" value={{data.Id}}>{{data.Name}}</option>
                            </select>
                    
                    </div>
                    <div class="form-group">                        
                            <label for="txtPrefix">Line Manager</label>
                            <select id="CmbMoule" tabindex="4" data-placeholder="Pick a Manager" ng-model="Employee.LineManager" class="selectUI" data-ui-select2>
                                <option value=""></option>
                                <option ng-repeat="data in EmployeeIdNName" value={{data.Id}}>{{data.Name}}</option>
                            </select>
                        
                    </div>
                    <div class="form-group">
                        <label for="txtPhone">Phone<span style="color:red">*</span></label>
                        <span style="color:red" data-ng-show="Employees.txtPhone.$dirty && Employees.txtPhone.$error.required">Required</span>
                        <span style="color:red" data-ng-show="Employees.txtPhone.$dirty && Employees.txtPhone.$error.pattern">Invalid</span>
                        <input type="tel" tabindex="5" ng-model="Employee.Phone" class="form-control" id="txtPhone" name="txtPhone" required placeholder="Phone No" data-ng-pattern="/^\+?[0-9]{2,3}\-?[0-9]{6,12}$/">
                    </div>
                    <div class="form-group">
                        <label for="txtEmail">Email<span style="color:red">*</span></label>
                        <span style="color:red" data-ng-show="Employees.txtEmail.$dirty && Employees.txtEmail.$error.required">Required</span>
                        <span style="color:red" data-ng-show="Employees.txtEmail.$dirty && Employees.txtEmail.$error.pattern">Invalid</span>
                        <input type="email" tabindex="6" ng-model="Employee.Email" class="form-control" id="txtEmail" name="txtEmail" required placeholder="me@example.com" data-ng-pattern="/^[\w-]+(\.[\w-]+)*@@([a-z0-9-]+(\.[a-z0-9-]+)*?\.[a-z]{2,6}|(\d{1,3}\.){3}\d{1,3})(:\d{4})?$/">
                    </div>
                    <div class="form-group">
                        <label for="txtName">Address</label>
                        <input type="text" tabindex="7" ng-model="Employee.Address" class="form-control" id="txtName" placeholder="">
                    </div>
                    <div class="form-group">
                       
                            <label for="txtPrefix">Office<span style="color:red">*</span></label>
                            <select tabindex="8" id="CmbMoule" data-placeholder="Pick an Office" ng-model="Employee.SlsOfficeId" class="selectUI" data-ui-select2>
                                <option value=""></option>
                                <option ng-repeat="data in OfficeIdNName" value={{data.Id}}>{{data.Name}}</option>
                            </select>
                       
                    </div>
                    <div class="text-center">
                        @if (add || edit)
                        {
                            <button type="submit" class="btn btn-success" ng-disabled="Employees.$invalid" ng-click="Save(Employees.$valid)">Save</button>
                        }
                        @if (delete)
                        {
                            <button type="submit" class="btn btn-danger" ng-disabled="ButtonDisabled" ng-click="Delete()">Delete</button>
                        }
                        <button type="submit" class="btn btn-default" ng-click="Reset()">Reset</button>
                    </div>

                </form>
            </div>
        </div>
    </section>

    <style type="text/css">
        table {
            table-layout: fixed;
        }

        .div-table-content {
            height: 440px;
            overflow-y: auto;
        }
    </style>
    <section class="margin-top-10 col-sm-8 col-xs-12">
        <div class="box box-primary">
            <div class="box-header" style="cursor: move;">
                <i class="fa fa-table"></i>
                <h3 class="box-title">
                    Employee List
                </h3>
                <input type="text" style="margin: 8px;" class="pull-right" ng-model="SearchList" placeholder="Search" />
            </div>
            <div class="box-body no-padding margin">
                <div class="panel panel-default">
                    <table class="table  table-striped">
                        <thead>
                            <tr>
                                <th style="width:10%">S.L</th>
                                <th style="width:30%">Name</th>
                                <th style="width:20%">Designation</th>
                                <th style="width:16%">Department</th>
                                @*<th style="width:18%">Office</th>*@
                                <th style="width:14%">Phone</th>
                                <th style="width: 8%">Action</th>
                                <th style="width:2%"></th>
                            </tr>
                        </thead>
                    </table>
                    <div class="div-table-content">
                        <table class="table  table-striped">
                            <tbody>
                                <tr ng-repeat="resource in Resources | filter:SearchList">
                                    <td style="width:10%">{{$index+1}}</td>
                                    <td style="width:30%">{{resource.Name}}</td>
                                    <td style="width:20%">{{resource.Designation}}</td>
                                    <td style="width:16%">{{resource.Department}}</td>
                                    @*<td style="width:18%">{{resource.Office}}</td>*@
                                    <td style="width:14%">{{resource.Phone}}</td>
                                    @if (edit || delete)
                                    {
                                        <td style="width:8%">
                                            <button class="btn btn-success btn-xs" id="editRowBtn{{data.Id}}" ng-click="setFortEdit(resource)"><i class="fa fa-edit"></i> Edit</button>
                                        </td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                </div>
                <div ng-class="{overlay:ShowLoading}"></div>
                <div class="{loading-img:ShowLoading}"></div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script type="text/javascript" src="@Url.Content("/Scripts/Hrm/EmployeeController.js")"></script>
}