@{
    ViewBag.Title = "Sales Incentive";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool add = true;
    bool edit = true;
    bool delete = true;
    if (Request.IsAuthenticated)
    {
        add = (bool)ViewData["Add"];
        edit = (bool)ViewData["Edit"];
        delete = (bool)ViewData["Delete"];
    }
}

<h2 class="text-center section-title">Sales Incentive</h2>
<div ng-controller=" SalesIncentiveSettings">
    <section class="margin-top-10 col-sm-5 col-xs-12">
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">Sales Incentive Entry</h3>
            </div>
            <div class="box-body">
                <form name="SalesIncentives">
                    <div class="form-group">
                        <label for="txtType">Lower Limit<span style="color:red">*</span></label>
                        <span style="color:red" data-ng-show="SalesIncentives.nmLowerLimit.$dirty && SalesIncentives.nmLowerLimit.$error.required">Required</span>
                        <span style="color:red" data-ng-show="SalesIncentives.nmLowerLimit.$dirty && SalesIncentives.nmLowerLimit.$error.pattern">Invalid amount</span>
                        <input type="number" ng-model="SlsIncentiveSetting.LowerLimit" class="form-control right-align" id="txtType" name="nmLowerLimit" maxlength="10" ng-pattern="/^\d+(\.\d{1,2})?$/" placeholder="" required>
                    </div>
                    <div class="form-group">
                        <label for="txtType">Upper Limit<span style="color:red">*</span></label>
                        <span style="color:red" data-ng-show="SalesIncentives.nmUpperLimit.$dirty && SalesIncentives.nmUpperLimit.$error.required">Required</span>
                        <span style="color:red" data-ng-show="SalesIncentives.nmUpperLimit.$dirty && SalesIncentives.nmUpperLimit.$error.pattern">Invalid amount</span>
                        <input type="number" ng-model="SlsIncentiveSetting.UpperLimit" class="form-control right-align" id="txtType" name="nmUpperLimit" maxlength="10" ng-pattern="/^\d+(\.\d{1,2})?$/" placeholder="" required>
                    </div>
                    <div class="form-group">
                        <label for="txtType">Commission<span style="color:red">*</span></label>
                        <span style="color:red" data-ng-show="SalesIncentives.nmCommissionPercentage.$dirty && SalesIncentives.nmCommissionPercentage.$error.required">Required</span>
                        <span style="color:red" data-ng-show="SalesIncentives.nmCommissionPercentage.$dirty && SalesIncentives.nmCommissionPercentage.$error.pattern">Invalid amount</span>
                        
                        <input type="number" ng-model="SlsIncentiveSetting.CommissionPercentage" class="form-control right-align" id="txtType" name="nmCommissionPercentage" maxlength="10" ng-pattern="/^\d+(\.\d{1,2})?$/" placeholder="" required>
                    </div>

                    <div class="form-group">
                        <label for="txtRemarks">Remarks</label>
                        <textarea cols="20" rows="2" ng-model="SlsIncentiveSetting.Remarks" class="form-control" id="txtRemarks" placeholder=""></textarea>
                    </div>
                    <div class="text-center">
                        @if (add || edit)
                        {
                            <button type="submit" class="btn btn-success" ng-disabled="SalesIncentives.$invalid" ng-click="Save(SalesIncentives.$valid)">Save</button>
                        }
                        @if (delete)
                        {
                            <button type="submit" class="btn btn-danger" ng-disabled="ButtonDisabled" ng-click="Delete()">Delete</button>
                        }
                        <button type="reset" class="btn btn-default" ng-click="Reset()">Reset</button>
                       
                    </div>

                </form>
            </div>
        </div>
    </section>

    <style type="text/css">
        table {
            table-layout: fixed;
        }

        .div-table-content {
            height: 440px;
            overflow-y: auto;
        }
    </style>
    <section class="margin-top-10 col-sm-7 col-xs-12">
        <div class="box box-primary">
            <div class="box-header" style="cursor: move;">
                <i class="fa fa-table"></i>
                <h3 class="box-title">
                    Sales Incentive List
                </h3>
                <input type="text" style="margin: 8px;" class="pull-right" ng-model="SearchList" placeholder="Search" />
            </div>
            <div class="box-body no-padding">
                <div class="panel panel-default margin">
                    <table class="table  table-striped">
                        <thead>
                            <tr>
                                <th style="width:25%">Lower Limit</th>
                                <th style="width:25%">Upper Limit</th>
                                <th style="width:15%">Commission</th>
                                <th style="width:25%">Remarks</th>
                                <th style="width:8%">Action</th>
                                <th style="width:2%"></th>
                            </tr>
                        </thead>
                    </table>
                    <div class="div-table-content">
                        <table class="table  table-striped">
                            <tbody>
                                <tr ng-repeat="resource in Resources | filter:SearchList" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index)">
                                    <td style="width:25%">{{resource.LowerLimit}}</td>
                                    <td style="width:25%">{{resource.UpperLimit}}</td>
                                    <td style="width:15%">{{resource.CommissionPercentage}}</td>
                                    <td style="width:25%">{{resource.Remarks}}</td>
                                    @if (edit || delete)
                                    {
                                        <td style="width:8%">
                                            <button class="btn btn-success btn-xs" id="editRowBtn{{data.Id}}" ng-click="setFortEdit(resource)"><i class="fa fa-edit"></i> Edit</button>
                                        </td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <style>
                        .selected {
                            background-color: #FAA61A;
                            color: white;
                            font-weight: bold;
                        }
                    </style>
                </div>
                <div>
                </div>
                <div ng-class="{overlay:ShowLoading}"></div>
                <div class="{loading-img:ShowLoading}"></div>
            </div>
        </div>
    </section>
</div>
@section scripts{

    <script type="text/javascript" src="@Url.Content("/Scripts/Sales/SalesIncentiveSettingController.js")"></script>

}